################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeftRotationArray/.vs/LeftRotationArray
/LeftRotationArray/bin/Debug/netcoreapp3.1
/LeftRotationArray/obj
/BalancedBrackets/obj
/BalancedBrackets/bin/Debug/netcoreapp3.1
/BalancedBrackets/.vs/BalancedBrackets
/ArrayPairs/obj
/ArrayPairs/bin/Debug/netcoreapp3.1
/ArrayPairs/.vs/ArrayPairs
